@font-face {
  font-family: 'NanumGimYuICe';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGimYuICe/NanumGimYuICe.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGimYuICe/NanumGimYuICe.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGimYuICe/NanumGimYuICe.ttf') format('truetype');
}